@charset "utf-8";
/* Estilos Globales */
a:hover {
	color: rgba(255,255,255,1.00);
}
/* Encabezado */
header {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
/* Marcador de posición para el logo */
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	background-color: rgba(190,190,190,1.00);
}
/* Div para los enlaces en el encabezado */
#headerLinks {
	float: left;
	width: calc( 100% - 139px );
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,1.00);
}
/* Enlaces en el encabezado */
#headerLinks a {
	text-decoration: none;
	color: rgba(146,146,146,1.00);
	padding-left: 66px;
	font-size: 14px;
}
/* Banner de texto de ofertas */
#offer {
	font-family: 'Montserrat', sans-serif;
	clear: both;
	background-color: rgba(246,246,246,1.00);
	color: rgba(146,146,146,1.00);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
/* Contenido principal del sitio */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
/* Barra lateral */
#content .sidebar {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: rgba(246,246,246,1.00);
	padding-top: 36px;
	height: 784px;
}
/* Contenido principal del sitio */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
/* Propiedades del menú en la barra lateral */
#content .sidebar #menubar {
	text-align: left;
	color: rgba(146,146,146,1.00);
	position: relative;
	left: 0%;
}
/* Campo de búsqueda en la barra lateral */
#content .sidebar #search {
	width: 100%;
	border-radius: 0px;
	height: 42px;
	text-align: center;
	color: rgba(208,207,207,1.00);
	font-size: 14px;
	margin-bottom: 21px;
}
/* Contenido de toda la página */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
/* Elementos del menú */
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
/* Filas de productos para el catálogo */
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Información de cada producto en el catálogo */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
/* Precios de los productos en el catálogo */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
/* Contenedor de contenido de los productos en el catálogo */
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
/* Botón de compra para productos en el catálogo */
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color: rgba(208,207,207,1.00);
	height: 35px;
	color: rgba(255,255,255,1.00);
	border-style: none;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
/* Pie de página */
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: rgba(208,207,207,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	line-height: 1.8;
	padding-top: 22px;
	padding-left: 22px;
	text-align: center;
	padding-bottom: 22px;
	padding-right: 22px;
}
/* Cada contenido del pie de página */
#mainWrapper footer div {
	width: 27%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Enlaces en el pie de página */
footer div a {
	color: rgba(146,146,146,1.00);
	display: block;
	text-decoration: none;
	text-align: center;
}
/* Imágenes de productos en el catálogo */
.productInfo div img {
	width: 100%;
}
/* Enlaces en la barra lateral */
.sidebar #menubar .menu ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color: rgba(107,97,97,1.00);
	text-decoration: none;
}
/* Encabezados de menú en la barra lateral */
#menubar .menu h2 {
	font-size: 14px;
}
/* Enlaces bajo los menús en la barra lateral */
#menubar .menu ul li a {
	font-size: 14px;
}
/* Menús en la barra lateral */
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
/* Contenedor para enlaces en el pie de página */
footer .footerlinks {
	margin-top: -15px;
}

/* Consulta de medios para tabletas */
@media screen and (max-width:700px) {
/* Campo de búsqueda en la barra lateral */
#content .sidebar #search {
	display: none;
}
/* Barra lateral */
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
/* Separadores horizontales en la barra lateral */
#content .sidebar hr {
	display: none;
}
/* La barra lateral y el contenido principal de la página */
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
/* Encabezados de menú en la barra lateral */
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
/* Lista desordenada de enlaces */
#menubar .menu ul {
	display: inline;
}
/* Elementos de la lista */
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
/* El enlace que debe ocultarse en la vista de tabletas */
.sidebar #menubar .menu ul .notimp {
	display: none;
}
/* Menús en la barra lateral */
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
/* Menú de la barra lateral */
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
/* Contenido de banners de ofertas */
#mainWrapper #offer p {
	font-size: small;
}
/* Región de contenido principal de la página */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Precios de productos en vista de catálogo */
.productRow .productInfo .price {
	font-size: 19px;
}
/* Contenedores de contenido en vista de catálogo */
.productRow .productInfo .productContent {
	font-size: 16px;
}
/* Botones de compra en vista de catálogo */
.productRow .productInfo .buyButton {
	font-size: 15px;
}
/* Contenedor para enlaces en el pie de página */
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
/* Contenedor para cada división del pie de página */
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
/* Enlaces en el pie de página */
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
/* Región del pie de página */
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
/* Enlaces en el encabezado */
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30
